@import 'variables';
@import 'utilities';

// HEADER
body {
    margin: 0;
    height: 100vh;
    color: $color;
    background: $bg;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    scrollbar-color: $interface $interface;
    scrollbar-width: thin;
}
* {
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    overflow: hidden;
}
main{
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    z-index: 10;
    &.space-top {
        padding-top: $jumbotron-size;
    }
    &.panel {
        display: flex;
        position: relative;
        max-width: unset;
    }
    .panel-content {
        flex-grow: 1;
        overflow-y: auto;
    }
    .sidenav {
        padding-top: 1rem;
        width: 300px;
        flex-basis: 300px;
        background: $interface;
        box-shadow: 0 2px 4px rgba(black, $shadow);
        height: 100%;
        display: flex;
        flex-direction: column;
        span.category {
            width: 100%;
            font-size: 0.8rem;
            text-transform: uppercase;
            font-weight: 600;
            padding: 0.55rem 1.5rem;
        }
        a {
            width: 100%;
            height: 42px;
            text-align: center;
            display: flex;
            align-items: center;
            position: relative;
            padding: 0 1rem 0 1.5rem;
            &.active {
                background: rgba($color, 0.05);
                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    height: 100%;
                    width: 6px;
                    background: $theme;
                }
            }
            i {
                // padding: 0 1rem;
                width: 4rem;
                font-size: 1rem;
                color: mix($color, $theme, 90%);
            }
            &:hover {
                background: rgba($color, 0.1);
            }
        }
    }
    overflow-y: auto;
}
#search-bar {
    display: flex;
    align-items: center;
    margin: 0 2rem;
    position: relative;
    &:hover, &:focus-within {
        input.search {
            background: rgba(mix($interface, $bg, 50%), 0.75);
            outline: none;
        }
    }
    button {
        margin-left: -10px;
        width: 50px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    input.search {
        background: rgba(mix($interface, $bg, 50%), 0.45);
        margin: 0;
        width: 250px;
        padding-left: 35px;
    }
    i.search-icon {
        position: absolute;
        left: 10px;
        top: 2px;
        bottom: 0;
        margin: auto 0;
        height: fit-content;
        opacity: 1;
        transition: 0.2s;
    }
}

header {
    color: white;
    position: relative;
    flex-basis: 0;
    z-index: 10;
    width: 100%;
    flex-basis: $header-size;
    height: $header-size;
    display: flex;
    justify-content: space-around;
    &.admin-page {
        justify-content: space-between;
    }
    @media screen and (max-width: 1000px){
        justify-content: space-between;
        padding: 0 1rem;
    }
    #logo {
        display: flex;
        align-items: center;
        height: 100%;
        font-weight: 600;
        font-size: 18px;
        img {
            width: 22px;
        }
    }
    nav {
        a {
            padding: 0.5rem 0.75rem;
            margin-left: 0.5rem;
            border-radius: 10px;
            &:hover, &.active {
                background: rgba($color, 0.05);
            }
        }
    }
    .user-info {
        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
        a.user-profile {
            padding: 0.35rem 0.5rem;
            transition: 0.2s;
            border-radius: 8px;
            &:hover {
                background: rgba(255, 255, 255, 0.1);
            }
        }
    }
}
.bg-header {
    width: 100%;
    height: $header-size;
    background: $header;
    box-shadow: 0 2px 4px rgba(black, $shadow);
    position: absolute;
    z-index: 9;
    top: 0;
    padding-top: $header-size;
    &.jumbotron {
        height: $header-size + $jumbotron-size;
    }
    @keyframes moving {
        0% { transform: translateY(0%);}
        50% { transform: translateY(-50%);}
        100% { transform: translateY(0%);}
    }
    .bg-container {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;
    }
    img.bg-trend {
        width: 110%;
        height: 210%;
        top: -5%;
        left: 0;
        position: absolute;
        object-fit: cover;
        opacity: 0.5;
        filter: blur(3px);
        animation: 20s moving ease-in-out infinite;
        z-index: 1;
    }
    .content {
        position: relative;
        z-index: 3;
        width: 100%;
        height: 100%;
    }
}
.form-container {
    max-width: 800px;
    padding: 1rem;
    &.small {
        max-width: 400px;
    }

}
textarea {
    background: mix($interface, #000, 70%);
    width: 100%;
    margin: 0.5rem 0 1rem 0;
    margin: 0;
    border-radius: 5px;
    padding: 10px;
}
input {
    background: mix($interface, #000, 70%);
    height: 34px;
    width: 100%;
    margin: 0.5rem 0 1rem 0;
    border-radius: 5px;
    padding: 10px;
}

input[type="checkbox"] {
    padding: 1px;
    height: 18px;
    width: unset;
    margin: 0 !important;
}

button, input[type="submit"]{
    background: mix($theme, $interface, 50%);
    padding: 5px 10px;
    border-radius: 5px;
    &:hover {
        background: mix($theme, $interface, 75%);
    }
    &.soft {
        background: rgba($color, 0.1);
        &:hover {
            background: rgba($theme, 0.75);
        }
    }
}
article {
    background: $interface;
    box-shadow: 0 2px 2px rgba(#000, $shadow);
    margin-bottom: 14px;
    &.banner-top {
        padding-top: 140px;
    }
    // border-radius: 5px;
}
@keyframes stretch {
    0% { transform: scaleX(0.5) translateX(50%)}
    50% { transform: scaleX(1) translateX(0%)}
    100% { transform: scaleX(0.5) translateX(50%)}
}
h1, h2, h3 {
    margin: 0;
    padding: 0.5rem 1rem;
    position: relative;
    &.fancy {
        padding: 0.6rem 0;
        margin-bottom: 1.2rem;
        margin-left: 0.8rem;
        width: fit-content;
        font-size: 1.3rem;
        &.mb-0 {
            margin-bottom: 0;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50%;
            height: 3px;
            background: $theme;
            animation: 10s stretch ease-in-out infinite;
        }
    }
}
table {
    width: 100%;
    th, td {
        padding: 0 0.8rem;
        height: 50px;
        white-space: nowrap;
        word-wrap: break-word;
        text-overflow: ellipsis;
    }
    td.fit, th.fit {
        width: 1%;
    }
    td.fit-wrap {
        max-width: 1px;
        white-space: nowrap; 
        text-overflow:ellipsis; 
        overflow: hidden;
        width: 100%;
    }
    th {
        height: 40px;
        background: mix($interface, $color, 90%);
        text-align: start;
    }
    tr:hover {
        background: mix($interface, $theme, 80%);
    }
    
}
img.cover {
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
    object-fit: contain;
    background: mix($interface, $theme, 80%);
}
img.banner {
    width: 100%;
    max-height: 130px;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}
ul.pagination {
    padding: 0.5rem 0;
    justify-content: center;
    display: flex;
    li {
        margin: 0.2rem;
        a, span {
            background: rgba($color, 0.1);
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
        }
        span {
            opacity: 0.5;
        }
        a:hover {
            background: rgba($color, 0.3);
        }
        &.active {
            span {
                opacity: 1;
                background: rgba($theme, 0.5);
            }
        }
    }
}
.game-wrapper {
    color: white;
    width: 100%;
    height: $jumbotron-size - ($header-size / 2);
    display: flex;
    .game-cover {
        height: 100%;
        box-shadow: 0 2px 2px rgba(0, 0, 0, $shadow);
    }
}
.text-shadow {
    text-shadow: 0 1px 3px rgba(#000, 0.9);
}
.game-category {
    padding: 0.25rem 0.5rem;
    box-shadow: 0 2px 2px rgba(#000, 0.2);
    border-radius: 5px;
    font-size: 0.9rem;
    &:nth-child(4n+0) {
        background: rgba(92, 35, 199, 0.5);
    }
    &:nth-child(4n+1) {
        background: rgba(35, 79, 199, 0.5);
    }
    &:nth-child(4n+2) {
        background: rgba(35, 139, 199, 0.5);
    }
    &:nth-child(4n+3) {
        background: rgba(35, 199, 191, 0.5);
    }
}
.price {
    padding: 0.25rem 0.5rem;
    box-shadow: 0 2px 2px rgba(#000, 0.2);
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 45px;
    background: rgb(37, 39, 46);
    background: linear-gradient(160deg, rgb(51, 66, 78), rgb(39, 39, 46));
    width: min-content;
    &.no-border {
        border-radius: 0;
    }
}
button.fancy {
    padding: 0.25rem 1rem;
    box-shadow: 0 2px 2px rgba(#000, 0.2);
    border-radius: 5px;
    font-size: 1rem;
    align-items: center;
    height: 45px;
    font-weight: 400;
    background: rgba($theme, 0.7);
    width: min-content;
    white-space: nowrap;
    &:hover {
        background: rgba($theme, 1);
    }
    &.no-border {
        border-radius: 0;
    }
}
.light-price {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.25rem 0.5rem;
    box-shadow: 0 2px 2px rgba(#000, 0.2);
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    background: #223;
    z-index: 10;
    width: min-content;
    transition: 0.2s;
}
.game-card {
    min-width: 150px;
    max-width: 180px !important;
    position: relative;
    background: $theme;
    color: white;
    cursor: pointer;
    .star-rating {
        position: absolute;
        top: 7px;
        left: 7px;
    }
    img {
        transition: 0.2s;
    }
    &:hover {
        img {
            transform: scale(0.98);
        }
        .light-price {
            background: $theme;
        }
        .stock, .no-stock {
            border-left: 30px solid transparent;
            border-bottom: 30px solid transparent;
            border-right-width: 30px;
            span {
                visibility: visible;
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}
.stock, .no-stock {
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid rgb(25, 192, 81);
    border-bottom: 20px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    right: 0px;
    z-index: 2;
    transition: 0.5s;
    margin: 0;
    span {
        white-space: nowrap;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: -25px;
        text-shadow: 0 2px 2px rgba(#000, 1);
        transform: translateX(20px);
    }
}
.no-stock {
    border-right: 20px solid rgb(105, 105, 105);
}
.grid-custom {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
}
.fadeout {
    transition: 0.2s;
}
.user-avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.badge {
    background: rgba($theme, 0.7);
    font-weight: 600;
    box-shadow: 0 2px 2px rgba(#000, $shadow);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 0.8rem;
    position: absolute;
    bottom: -6px;
    right: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-wrapper {
    display: flex;
    align-items: center;
    h2 {
        font-size: 1.8rem;
    }
    svg {
        fill: #fff;
    }
}
.quantity {
    width: 75px;
    margin: 0;
}

::-webkit-scrollbar {
width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
background: rgba(#000, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgba(#000, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgba($interface, 1);
}

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
  font-weight: 600;
  color: rgba(255,255,255,0.2);
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: 'Font Awesome\ 5 Free';
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
color: rgba(255,255,255,0.2);; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.star-rating {
    display: flex;
    align-items: center;
}
.back-stars {
    display: flex;
    color: rgba(255,255,255,0.2);
    position: relative;
}
.front-stars {
    display: flex;
    color: rgb(255, 239, 11);
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: .5s;
}