@import 'variables';
@import 'utilities';

// HEADER
body {
    margin: 0;
    height: 100vh;
    color: $color;
    background: $bg;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
}
* {
    box-sizing: border-box;
}
main {
    flex-grow: 1;
    &.panel {
        display: flex;
        position: relative;
        
    }
    .panel-content {
        flex-grow: 1;
        overflow-y: auto;
    }
    .sidenav {
        padding-top: 1rem;
        width: 300px;
        flex-basis: 300px;
        background: $interface;
        box-shadow: 0 2px 4px rgba(black, $shadow);
        height: 100%;
        display: flex;
        flex-direction: column;
        span.category {
            width: 100%;
            font-size: 0.8rem;
            text-transform: uppercase;
            font-weight: 600;
            padding: 0.55rem 1.5rem;
        }
        a {
            width: 100%;
            height: 42px;
            text-align: center;
            display: flex;
            align-items: center;
            position: relative;
            padding: 0 1rem 0 1.5rem;
            &.active {
                background: rgba($color, 0.05);
                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    height: 100%;
                    width: 6px;
                    background: $theme;
                }
            }
            i {
                // padding: 0 1rem;
                width: 4rem;
                font-size: 1rem;
                color: mix($color, $theme, 90%);
            }
            &:hover {
                background: rgba($color, 0.1);
            }
        }
    }
    overflow-y: auto;
}
header {
    position: relative;
    z-index: 10;
    width: 100%;
    flex-basis: $header-size;
    height: $header-size;
    display: flex;
    justify-content: space-between;
    #logo {
        display: flex;
        align-items: center;
        height: 100%;
        font-weight: 600;
        font-size: 22px;
        padding: 0 1rem;
        img {
            width: 26px;
        }
    }
    nav {
        a {
            padding: 0.5rem 0.75rem;
            margin-left: 0.5rem;
            border-radius: 10px;
            &:hover, &.active {
                background: rgba($color, 0.05);
            }
        }
    }
    .user-info {
        padding: 0 1rem;
        img {
            width: 42px;
            height: 42px;
            border-radius: 50%;
        }

    }
}
.bg-header {
    width: 100%;
    height: $header-size;
    background: $header;
    box-shadow: 0 2px 4px rgba(black, $shadow);
    position: absolute;
    z-index: 9;
    top: 0;
}
.form-container {
    max-width: 800px;
    padding: 1rem;
    &.small {
        max-width: 400px;
    }
    
    form {
        
    }

}

input {
    background: mix($interface, #000, 70%);
    height: 34px;
    width: 100%;
    margin: 0.5rem 0 1rem 0;
    border-radius: 5px;
    padding: 10px;
}

input[type="checkbox"] {
    padding: 1px;
    height: 18px;
    width: unset;
    margin: 0 !important;
}

button, input[type="submit"]{
    background: mix($theme, $interface, 50%);
    padding: 5px 10px;
    border-radius: 5px;
    &:hover {
        background: mix($theme, $interface, 75%);
    }
    &.soft {
        background: rgba($color, 0.1);
    }
}
article {
    background: $interface;
    box-shadow: 0 2px 2px rgba(#000, $shadow);
    // border-radius: 5px;
}
h1, h2, h3 {
    margin: 0;
    padding: 0.5rem 1rem;
}
table {
    th, td {
        padding: 0 0.8rem;
        height: 50px;
        width: 100%;
    }
    .fit {
        width: min-content;
    }
    th {
        height: 40px;
        background: mix($interface, $color, 90%);
        text-align: start;
    }
    tr:hover {
        background: mix($interface, $theme, 80%);
    }
    width: 100%;
}