.muted {
  color: rgba(255, 255, 255, 0.7);
}

h2 {
  font-size: 18px;
  font-weight: 600;
  padding: 0 1rem 1rem 1rem;
}

body {
  margin: 0;
  color: #ffffff;
  background: #1f2124;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding-top: 64px;
}

header {
  width: 100%;
  height: 64px;
  background: #444;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

header #logo {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 600;
  font-size: 22px;
  padding: 0 1rem;
}

header #logo img {
  width: 26px;
}

header nav a {
  padding: 0.5rem 0.75rem;
  margin-left: 0.5rem;
  border-radius: 10px;
}

header nav a:hover,
header nav a.active {
  background: rgba(255, 255, 255, 0.05);
}

header .user-info {
  padding: 0 1rem;
}

header .user-info img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.box {
  background: #2e3035;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.form-container {
  max-width: 800px;
  padding: 1rem;
}

.form-container.small {
  max-width: 400px;
}

input {
  background: #202225;
  height: 34px;
  width: 100%;
  margin: 0.5rem 0 1rem 0;
  border-radius: 5px;
  padding: 10px;
}

input[type=checkbox] {
  padding: 1px;
  height: 18px;
  width: unset;
  margin: 0 !important;
}

button,
input[type=submit] {
  background: #3d539a;
  padding: 5px 10px;
  border-radius: 5px;
}

button:hover,
input[type=submit]:hover {
  background: #4464cd;
}

