.muted {
  color: rgba(255, 255, 255, 0.7);
}

h2 {
  font-size: 18px;
  font-weight: 600;
  padding: 0 1rem 1rem 1rem;
}

body {
  margin: 0;
  height: 100vh;
  color: #ffffff;
  background: #1f2124;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

main {
  flex-grow: 1;
  overflow-y: auto;
}

main.panel {
  display: flex;
  position: relative;
}

main .panel-content {
  flex-grow: 1;
  overflow-y: auto;
}

main .sidenav {
  padding-top: 1rem;
  width: 300px;
  flex-basis: 300px;
  background: #2e3035;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
  height: 100%;
  display: flex;
  flex-direction: column;
}

main .sidenav span.category {
  width: 100%;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.55rem 1.5rem;
}

main .sidenav a {
  width: 100%;
  height: 42px;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 1rem 0 1.5rem;
}

main .sidenav a.active {
  background: rgba(255, 255, 255, 0.05);
}

main .sidenav a.active::before {
  position: absolute;
  content: "";
  left: 0;
  height: 100%;
  width: 6px;
  background: #7291f7;
}

main .sidenav a i {
  width: 4rem;
  font-size: 1rem;
  color: #f1f4fe;
}

main .sidenav a:hover {
  background: rgba(255, 255, 255, 0.1);
}

header {
  position: relative;
  z-index: 10;
  width: 100%;
  flex-basis: 64px;
  height: 64px;
  display: flex;
  justify-content: space-between;
}

header #logo {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 600;
  font-size: 22px;
  padding: 0 1rem;
}

header #logo img {
  width: 26px;
}

header nav a {
  padding: 0.5rem 0.75rem;
  margin-left: 0.5rem;
  border-radius: 10px;
}

header nav a:hover,
header nav a.active {
  background: rgba(255, 255, 255, 0.05);
}

header .user-info {
  padding: 0 1rem;
}

header .user-info img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.bg-header {
  width: 100%;
  height: 64px;
  background: #5e7ece;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
  position: absolute;
  z-index: 9;
  top: 0;
}

.form-container {
  max-width: 800px;
  padding: 1rem;
}

.form-container.small {
  max-width: 400px;
}

input {
  background: #202225;
  height: 34px;
  width: 100%;
  margin: 0.5rem 0 1rem 0;
  border-radius: 5px;
  padding: 10px;
}

input[type=checkbox] {
  padding: 1px;
  height: 18px;
  width: unset;
  margin: 0 !important;
}

button,
input[type=submit] {
  background: #506196;
  padding: 5px 10px;
  border-radius: 5px;
}

button:hover,
input[type=submit]:hover {
  background: #6179c7;
}

button.soft,
input[type=submit].soft {
  background: rgba(255, 255, 255, 0.1);
}

article {
  background: #2e3035;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  margin-bottom: 14px;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0.5rem 1rem;
}

table {
  width: 100%;
}

table th,
table td {
  padding: 0 0.8rem;
  height: 50px;
  width: 100%;
}

table .fit {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

table th {
  height: 40px;
  background: #434549;
  text-align: start;
}

table tr:hover {
  background: #3c435c;
}

